<template>
    <div class="auth-container">
        <div class="card">
            <div class="card-header">
                <h5 class="float-left">NemID</h5>
                <span class="material-icons-outlined float-right"
                      style="cursor: pointer"
                      data-placement="top"
                      title="Information"
                      data-toggle="modal"
                      data-target="#nemIdInfoModal"
                >help_outline</span>
            </div>

            <div class="card-body">
                <h5 class="card-title">{{ (authStep === 1 ? companyName : "Approve by SMS") }}</h5>
                <div v-if="authStep === 1">
                    <div class="form-group">
                        <label for="inputUserId">User-id</label>
                        <input
                            autocomplete="off"
                            type="text"
                            :class="'form-control ' + (formData.userid.error ? 'border-danger' : '')"
                            name="hidden"
                            id="inputUserId"
                            spellcheck="false"
                            autocapitalize="off"
                            :maxlength="formData.userid.maxLength"
                            :minlength="formData.userid.minLength"
                            aria-describedby="inputUserIdHelp"
                            placeholder="Enter User-Id"
                            v-model="formData.userid.value"
                            required
                            :disabled="loading"
                        >
                        <small v-if="formData.userid.error" id="user-id-error"
                               class="form-text text-danger">{{ formData.userid.errorMessage }}</small>
                        <small v-else id="user-id-help" class="form-text text-muted">We will never share your information with
                            anyone.</small>
                    </div>
                    <div class="form-group pb-2">
                        <label for="inputPassword">Password</label>
                        <input
                            type="password"
                            :class="'form-control ' + (formData.password.error ? 'border-danger' : '')"
                            id="inputPassword"
                            spellcheck="false"
                            autocapitalize="off"
                            inputmode="verbatim"
                            autocomplete="off"
                            :maxlength="formData.password.maxLength"
                            :minlength="formData.password.minLength"
                            placeholder="Password"
                            v-model="formData.password.value"
                            required
                            :disabled="loading"
                        >
                        <small v-if="formData.password.error" id="password-error"
                               class="form-text text-danger">{{ formData.password.errorMessage }}</small>
                        <small v-else id="password-help" class="form-text text-muted">Remember: A password must be unique and secret.</small>
                        <button type="button" :disabled="keyResend || loading" class="btn btn-link">forgot your password?</button>

                    </div>
                </div>
                <div v-else-if="authStep===2">
                    <div class="row m-5" v-if="!authorized && !loading && !loginError">
                        <div class="col-4 mx-auto text-center">
                            <span class="material-icons-outlined">
                                vpn_key
                            </span>
                        </div>
                        <div class="col-4 mx-auto text-center">
                            <span class="material-icons-outlined">
                                keyboard_arrow_right
                            </span>
                        </div>
                        <div class="col-4 mx-auto text-center">
                            <span class="material-icons-outlined">
                                smartphone
                            </span>
                        </div>
                    </div>
                    <!-- Authorize animation & Loading animation -->
                    <div class="row m-3" v-if="loading || authorized">
                        <lottie-animation
                            :path="(authorized ? authAnimation : loadingAnimation)"
                            :autoPlay="true"
                            :speed="1"
                            :width="100"
                            :height="100"
                        />
                    </div>
                    <div class="row m-3" v-if="loginError && !loading">
                        <lottie-animation
                            :path="errorAnimation"
                            :autoPlay="true"
                            :loop="false"
                            :speed="1"
                            :width="100"
                            :height="100"
                        />
                    </div>
                    <div class="row mb-4">
                        <div class="col-12">
                            <label for="inputSMSKey">{{(authorized ? 'Login Succeded!' : 'Please type the key you received:' )}}</label>
                            <input
                                type="password"
                                :class="'form-control ' + (formData.smsKey.error ? 'border-danger' : '')"
                                id="inputSMSKey"
                                spellcheck="false"
                                autocapitalize="off"
                                inputmode="verbatim"
                                autocomplete="off"
                                :maxlength="formData.smsKey.maxLength"
                                :minlength="formData.smsKey.minLength"
                                placeholder="SMS Key"
                                v-model="formData.smsKey.value"
                                required
                                :disabled="loading || authorized"
                            >
                            <small v-if="formData.smsKey.error" id="smsKey-error"
                                   class="form-text text-danger">{{ formData.smsKey.errorMessage }}</small>
                            <small v-else id="smsKey-help" class="form-text text-muted">Tip: We have sent you a key by SMS.</small>
                            <button type="button" :disabled="keyResend || loading || authorized" v-on:click="resendKey" class="btn btn-link">Resend a key?</button>

                        </div>
                    </div>

                </div>

                <button v-if="authStep===1" v-on:click="submitForm" :disabled="loading" type="submit" class="btn btn-primary float-left">Next</button>
                <button v-else v-on:click="submitSMSForm" :disabled="loading || authorized || formData.smsKey.value.length < formData.smsKey.minLength" type="submit" class="btn btn-primary float-left">Send</button>
                <button v-on:click="reloadAuth()" :disabled="loading || authorized" type="submit" class="btn btn-secondary float-right">Cancel</button>

            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="nemIdInfoModal" tabindex="-1" role="dialog" aria-labelledby="nemIdInfoModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="userIdHelpModal">User ID help</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>You can use the following as your user ID:</p>
                        <ul>
                            <li>CPR number (only for citizens).</li>
                            <li>NemID number</li>
                            <li>Your self-chosen user ID.</li>
                        </ul>
                        <p>If you are logging on for the first time, use your NemID number found in the letter you got from your bank, Nets DanID or Borgerservice (citizen service centre).</p>
                        <p><strong>Password help</strong></p>
                        <p>Enter your NemID password, which should be 4 digits or at least 6 characters (letters and numbers).</p>
                        <p>First time using NemID? Or has NemID been revoked? Enter the activation password you received:</p>
                        <ul>
                            <li>at your bank, at Borgerservice (citizen service centre).</li>
                            <li>in a letter from Nets DanID.</li>
                            <li>via text message.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import LottieAnimation from "../Lottie/LottieAnimation";
import axios from 'axios'
export default {
    name: "authentication-component",
    data: () => {
        return {
            formData: {
                userid: {
                    error: false,
                    errorMessage: '',
                    value: '',
                    maxLength: 40,
                    minLength: 4
                },
                password: {
                    error: false,
                    errorMessage: '',
                    value: '',
                    maxLength: 40,
                    minLength: 4
                },
                smsKey: {
                    error: false,
                    errorMessage: '',
                    value: '',
                    maxLength: 6,
                    minLength: 6
                }
            },
            authorized: false,
            loginError: false,
            loading: false,
            authStep: 1,
            authenticateEndpoint: null,
            resendKeyEndpoint: null,
            keyResend: false
        }
    },
    mounted() {

    },
    methods: {
        reloadAuth() {
            location.reload();
            return false;
        },
        resendKey() {
            if (this.resendKeyEndpoint) {
                this.keyResend = true
                this.loading = true
                const data = {
                    user_id : this.formData.userid.value,
                    password: this.formData.password.value
                }
                axios.post(this.resendKeyEndpoint, data).then(response => {
                    this.loading = false
                }).catch(err => {
                    this.keyResend = false
                    this.loading = false
                })
            }
        },
        submitForm () {
            this.resetValidation()
            if (this.validateFormData()) {
                const data = {
                    user_id : this.formData.userid.value,
                    password: this.formData.password.value
                }
                axios.post(this.loginEndpoint, data).then(response => {
                    if (response && response.status && response.status === 201) {
                        this.authenticateEndpoint = response.data.keyRoute
                        this.resendKeyEndpoint = response.data.resendKeyRoute
                        this.authStep++
                        console.log(response.data)
                    } else {
                        this.loginError = true
                        this.failedSubmission()
                        this.authorized = false
                    }
                }).catch(err => {
                    if (err && err.response && err.response.status === 401) {
                        if (err.response.data && err.response.data.message) {
                            this.failedSubmission(err.response.data.message)
                        } else {
                            this.failedSubmission()
                        }
                    } else {
                        this.failedSubmission()
                    }
                    this.loginError = true
                    this.authorized = false
                })
            } else {
                this.authorized = false
            }
        },
        async submitSMSForm () {
            this.loading = true
            this.keyResend = false
            this.resetValidation()
            if (this.validateSMSKey()) {
                const data = {
                    user_id : this.formData.userid.value,
                    password: this.formData.password.value,
                    user_access_key: this.formData.smsKey.value
                }
                axios.post(this.authenticateEndpoint, data).then(response => {
                    if (response && response.status && response.status === 200) {
                        parent.postMessage(response.data, "*")
                        this.authorized = true
                        this.loginError = false
                        this.loading = false
                    } else {
                        this.loginError = true;
                        this.loading = false
                        this.formData.smsKey.error = true
                        this.formData.smsKey.errorMessage = 'The key was incorrect'
                        this.authorized = false
                        parent.postMessage(401, "*")
                        setTimeout(() => {
                            this.loginError = false;
                        }, 2000);
                    }
                }).catch(err => {
                    this.loginError = true;
                    this.loading = false
                    this.formData.smsKey.error = true
                    this.formData.smsKey.errorMessage = 'The key was incorrect'
                    this.authorized = false
                    parent.postMessage(401, "*")
                    setTimeout(() => {
                        this.loginError = false;
                    }, 2000);
                })
                parent.postMessage(202, "*")
            } else {
                this.authorized = false
                this.loading = false
                parent.postMessage(401, "*")
            }

        },
        failedSubmission(errorMessage = 'Error with login') {
            this.formData.userid.error = true
            this.formData.password.error = true
            this.formData.password.errorMessage = errorMessage
        },
        validateSMSKey () {
            if (!this.formData.smsKey.value) {
                this.formData.smsKey.error = true
                this.formData.smsKey.errorMessage = "KEY field cannot be left blank"
                return false
            } else if (this.formData.smsKey.value.length > this.formData.smsKey.maxLength || this.formData.smsKey.value.length < this.formData.smsKey.minLength) {
                this.formData.smsKey.error = true
                this.formData.smsKey.errorMessage = "KEY cannot be less than " + this.formData.smsKey.maxLength + " characters."
                return false
            } else if (/[a-z]/i.test(this.formData.smsKey.value)) {
                this.formData.smsKey.error = true
                this.formData.smsKey.errorMessage = "KEY cannot contain letters"
                return false
            }
            this.formData.smsKey.error = false
            this.formData.smsKey.error = false
            return true
        },
        validateFormData () {
            if (!this.formData.userid.value) {
                this.formData.userid.error = true
                this.formData.userid.errorMessage = "User-id field cannot be left blank"
                return false
            } else if (this.formData.userid.value.length > this.formData.userid.maxLength) {
                this.formData.userid.error = true
                this.formData.userid.errorMessage = "User-id field must be less than " + this.formData.userid.maxLength + " characters."
                return false
            }else if (this.formData.userid.value.length < this.formData.userid.minLength) {
                this.formData.userid.error = true
                this.formData.userid.errorMessage = "User-id field must be larger or equal to " + this.formData.userid.minLength + " characters."
                return false
            }

            if (!this.formData.password.value) {
                this.formData.password.error = true
                this.formData.password.errorMessage = "Password field cannot be left blank"
                return false
            } else if (this.formData.password.value.length > this.formData.password.maxLength) {
                this.formData.password.error = true
                this.formData.password.errorMessage = "Password field must be less than " + this.formData.password.maxLength + " characters."
                return false
            } else if (this.formData.password.value.length < this.formData.password.minLength) {
                this.formData.password.error = true
                this.formData.password.errorMessage = "Password field must be larger or equal to " + this.formData.password.minLength + " characters."
                return false
            }

            if (/[a-z]/i.test(this.formData.password.value)) {
                if (this.formData.password.value.length < 6) {
                    this.formData.password.error = true
                    this.formData.password.errorMessage = "Password field must be larger or equal to " + 6 + " characters."
                    return false
                }
            }

            if (this.formData.password.value === this.formData.userid.value) {
                this.formData.password.error = true
                this.formData.userid.error = true
                this.formData.password.errorMessage = "User-id and Password must not be equal"
                this.formData.userid.errorMessage = "User-id and Password must not be equal"
                return false
            }
            this.formData.password.error = false
            this.formData.userid.error = false
            this.formData.password.errorMessage = ""
            this.formData.userid.errorMessage = ""
            return true
        },
        resetValidation () {
            this.formData.password.error = false
            this.formData.userid.error = false
            this.formData.password.errorMessage = ''
            this.formData.userid.errorMessage = ''
            this.loginError = false
            this.authorized = false
            this.formData.smsKey.error = false
            this.formData.smsKey.errorMessage = ''
        }
    },
    computed: {},
    props: {
        companyName: {
            type: String,
            required: false,
            default: 'KEA'
        },
        loginEndpoint: {
            type: String,
            required: true
        },
        authAnimation: {
            type: String,
            required: false,
            default: 'https://assets4.lottiefiles.com/packages/lf20_gjj4ncdp.json'
        },
        loadingAnimation: {
            type: String,
            required: false,
            default: 'https://assets7.lottiefiles.com/packages/lf20_iOMDyg.json'
        },
        errorAnimation: {
            type: String,
            required: false,
            default: 'https://assets10.lottiefiles.com/packages/lf20_hfkrvixt.json'
        }
    },
    components: {LottieAnimation}


}
</script>


<style scoped>
.auth-container {
    min-width: 250px;
    min-height: 425px;
    max-width: 325px;

}
a .disabled {
    pointer-events: none;
    cursor: default;
}
</style>

